<div class="side-bar-header">
  <div class="header-name">
    <%= current_user.nickname %>さん
  </div>
  <div class="create-room">
    <%= link_to "マイページに戻る", pre_page_user_infos_path %>
  </div>
</div>

<div class="rooms">
  <p style="color:white;">名前を押してチャットを始めます</p>
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
      <% t = room.room_users.where.not(user_id: current_user.id).pluck(:user_id) %>
      <% @chat_user = User.find(t) %>
      <%# <%= @chat_user.class %>
      <%= link_to @chat_user.pluck(:nickname), room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>