<% if user_signed_in? && @result.user_id != current_user.id %>
  <% if @result.favorited_by?(current_user) %>
    <p class="followed_btn"><%=link_to "お気に入り済", user_info_favorite_path(@result.id, 1), class: "white", method: :delete, remote: true %></p>
  <% else %>
    <p class="follow_btn"><%=link_to "お気に入り", user_info_favorites_path(@result.id), class: "white", method: :post, remote: true %></p>
  <% end %>
<% end %>