<div class='chat-room-form'>
  <h1>マッチしたユーザー</h1>
  <% @users.each do |user| %>
  <% if current_user.id == user.id %>
    <ul class="users">
      <li class="user">
      <% @match.each do |match| %>
        <p><%= match.nickname %></p>
        <%= link_to 'チャットする', messages_path, class: 'mypage_btn' %>
      <% end %>
      </li>
    </ul>
  <% end %>
  <% end %>
</div>