<div class='wrapper'>
  
  <p class="fixed">左上のメニューボタンで<br>チャットを始めます</p>

  <div class='side-bar'>
    <div class="ahh">
    <%= render "messages/side_bar"%>
    </div>

    <div class="m_nav">
      <div id="m-nav-drawer">
        <input id="m-nav-input" type="checkbox" class="m-nav-unshown">
        <label id="m-nav-open" for="m-nav-input"><span></span></label>
        <label class="m-nav-unshown" id="m-nav-close" for="m-nav-input"></label>
        <div id="m-nav-content">
          <div class="m_side-bar-header">
            <div class="m_header-name">
              <%= current_user.nickname %>さん
            </div>
            <div class="m_create-room">
              <%= link_to "マイページに戻る", pre_page_user_infos_path, class: 'z' %>
            </div>
          </div>
          <div class="m_rooms">
            <p style="color:white;">名前を押してチャットを始めます</p>
            <% current_user.rooms.each do |room| %>
              <div class="m_room">
                <div class="m_room-name">
                <% t = room.room_users.where.not(user_id: current_user.id).pluck(:user_id) %>
                <% @chat_user = User.find_by(id: t) %>
                <p class="w"><%= link_to @chat_user.nickname, room_messages_path(room), class: 'w' %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>