.wrapper {
  display: flex;
}

/* ここから下はサイドバー */
.side-bar {
  width: 300px;
  background-color: #3f3f3f;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rooms {
  background-color: #7f7f7f;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.header-name {
  color: #fafafa;
}

.header-name a {
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.create-room {
  font-size: 10px;
}

.create-room a {
  border: 1px solid #fafafa;
  padding: 14px;
  color: #fafafa;
  text-decoration: none;
}

.under {
  color:white;
  border-bottom: 1px solid white;
  padding: 5px 0;
  text-align: center;
  margin-bottom: 10px;
}

/* ここから上はサイドバー */

/* ここから下はメインチャット */
.chat {
  background-color: #dfdfdf;
  width: calc(100% - 300px);
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.header-title {
  color: #333;
  margin-right: 10px;
}

.header_title_info {
  display: flex;
}

.header-button {
  margin-top: 40px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 30px 40px 0;
  overflow: scroll;
}

.message {
  padding: 10px 0;
  /* margin-bottom: 40px; */
}

.m_user_nickname {
  font-size: 12px;
  font-weight: bold;
  color: #434a54;
}

.m_date {
  font-size: 8px;
  color: #999;
}

.m_content {
  width: 180px;
  font-size: 16px;
  color: #434a54;
  text-align: left;
  margin-right: -30px;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  padding-left: 10px;
  border: none;
  height: 50px;
  width: 100%;
}

.form-submit {
  height: 50px;
  padding: 0 20px;
  margin-left: 15px;
  font-size: 16px;
  color: white;
  background-color: #38aef0;
  border: none;
}

.hidden {
  display: none;
}

.m_nav {
  display: none;
}

.fixed {
  display: none;
}

.m_right {
  display: flex;
  justify-content: flex-end;
}

.mm_right {
  text-align: right;
}
/* ここから上はメインチャット */

@media (max-width: 500px) {

  .messages {
    padding: 10px 15px 0;
  }

  .none_500 {
    display: none;
  }

  .ahh {
    display: none;
  }

  .side-bar {
    background-color: rosybrown;
    width: 10%;
  }

  .fixed {
    display: inline;
    position: fixed;
    top: 30%;
    right: 25%;
    font-size: 15px;
    font-weight: bold;
  }

  .m_nav {
    display: inline;
  }

  .chat {
    background-color: #dfdfdf;
    height: 100vh;
    width: 100%;
  }


  .chat-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: start;
  }
  
  .left-header {
    display: flex;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }

  .header_title_info {
    display: block;
  }

  .chat-header {
    height: 100px;
  }

  .header-title {
    font-size: 13px;
    margin-right: 50px;
  }

  .m_header-name {
    margin-top: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .m_create-room {
    margin-top: 30px;
  }

  .z {
    color: white;
    font-size: 18px;
    border: 1px solid white;
    width: 300px;
    padding: 8px 10px;
  }

  .m_rooms {
    margin-top: 80px;
  }

  .w {
    color: white;
    font-size: 18px;
  }

  .m_room-name {
    margin-top: 30px;
  }
  
  .m_content {
    width: 150px;
    font-size: 12px;
    color: #434a54;
  }






  #m-nav-drawer {
    position: relative;
    padding-top: 10px;
    text-align: center;
  }
  
  /*チェックボックス等は非表示に*/
  .m-nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース*/
  #m-nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  
  /*ハンバーガーアイコンをCSSだけで表現*/
  #m-nav-open span, #m-nav-open span:before, #m-nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #m-nav-open span:before {
    bottom: -8px;
  }
  #m-nav-open span:after {
    bottom: -16px;
  }
  
  /*閉じる用の薄黒カバー*/
  #m-nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*中身*/
  #m-nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    background: rgba(64,64,64,0.8);/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
  }
  
  /*チェックが入ったらもろもろ表示*/
  #m-nav-input:checked ~ #m-nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }
  
  #m-nav-input:checked ~ #m-nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }
}