.new_room {
  padding: 80px;
  width: 100vw;
  height: 650px;
  background-color: black;
  background-image: url(https://cdn.pixabay.com/photo/2017/05/15/10/26/bar-2314410_1280.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.new_room_form {
  width: 450px;
  height: 330px;
  margin-top: 50px;
  padding: 30px 40px;
  text-align: center;
  background-color:rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.room_form {
  padding: 20px 0 10px 0;
  text-align: center;
}

.room_form p {
  font-size: 13px;
}

.room_user_select {
  width: 300px;
}

.create_room_btn {
  display       : inline-block;
  border-radius : 5px;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 10px;   /* 余白       */
  background    : black;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  opacity       : 0.9;         /* 透明度     */
  transition    : 0.3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 1px #666666;  /* 影の設定 */
}

.redirect_mypage {
  margin: 20px 0 10px 0;
}

.matched_users {
  padding-top: 80px;
}

.matched_users h2 {
  text-align: center;
  margin-bottom: 50px;
}

.matched_users ul {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.m_rooms {
  padding-bottom: 50px;
}

@media (max-width: 500px) {
  .matched_users {
    padding-top: 40px;
  }

  .new_room_form {
    width: 300px;
    height: 350px;
    padding: 20px 10px;
  }

  .room_user_select {
    width: 250px;
  }

  .room_form p {
    font-size: 12px;
  }
}