.new_room {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: url(https://cdn.pixabay.com/photo/2020/01/30/21/24/shop-4806610_1280.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_room_form {
  width: 450px;
  height: 300px;
  padding: 30px 40px;
  text-align: center;
  background-color:rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.room_form {
  padding: 35px 0;
  text-align: center;
}

.room_user_select {
  width: 300px;
}

.create_room_btn {
  display       : inline-block;
  border-radius : 5px;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 10px;   /* 余白       */
  background    : black;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  opacity       : 0.9;         /* 透明度     */
  transition    : 0.3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 1px #666666;  /* 影の設定 */
}