.border {
  height: 100px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.title {
  font-size: 60px;
  font-family: 'Verdana',sans-serif;
}

.groups {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.list {
  padding-bottom: 40px;
}

.user_infos{
  position: relative;
}

.follow_btn {
  background-color: rgba(128,96,0,0.8);
  border-radius: 5px;
  position: absolute;
  color: aliceblue;
  top: 0;
}

.followed_btn {
  background-color: rgba(128,128,128,0.8);
  border-radius: 5px;
  position: absolute;
  color: aliceblue;
  top: 0;
}

.user_img {
  height: 20hv;
}

.down {
  font-weight: bold;
}


.white {
  color: white;
}

.waiting {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  text-align: center;
}



.how_to_use {
  margin: 100px 0;
}

.how_to_use h2 {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.exp {
  margin: 30px auto 0 auto;
  width: 35%;
  font-size: 15px;
  border: 1px solid #806000;
  color: #806000;
  padding: 20px 30px;
  border-radius: 4px;
  height: 25%;
}

.under_line {
  border-bottom: 1px solid #806000;
  padding-bottom: 3px;
}

.asap {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 30px 0;
  color: #806000;
}



.gold {
  margin-top: 50px;
  width: 70%;
  border-bottom: 2px solid #806000;
  font-size: 30px;
  color: #806000;
}

.try {
  font-size: 20px;
}

select {
  width: 100px;
  height: 40px;
}

.title {
  color: #ffffff;
}

.proportion {
  padding-bottom: 30px;
}

.sex {
  font-weight: bold;
  font-size: 25px;
}

.top_main {
  padding: 50px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.left p {
  margin-top: 20px;
  font-size: 25px;
  color: white;
  padding: 40px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.7);
}

.right {
  width: 350px;
  padding: 30px 40px;
  text-align: center;
  background-color:rgba(255,255,255,0.7);
  border-radius: 10px;
}

.otoko {
  color: blue;
}

.onna {
  color: red;
}

.left {
  width: 70%;
}

.br {
  display: none;
}

.search_btn {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  font-weight: bold;
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 14px 30px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : black;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
}

.search_btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}

.what_app {
  padding: 30px 0 25px 0 ;
  display: flex;
  justify-content: center;
}

.why_app {
  padding: 25px 0 50px 0 ;
  display: flex;
  justify-content: center;
}

.explain {
  margin-top: 30px;
  width: 40%;
  font-size: 15px;
  border: 1px solid #806000;
  color: #806000;
  padding: 20px 30px;
  border-radius: 4px;
  height: 25%;
}

.bold {
  font-weight: bold;
}


.top_page {
  padding: 20px 0;
}

.only_different_gender {
  text-align: center;
}

.search_top {
  padding-top: 50px;
}

.search_top h1 {
  color: #b33e5c;
}

.root_path {
  padding-top: 30px;
  font-size: 20px;
}

.sorry {
  text-align: center;
  font-size: 20px;
  padding: 0;
  margin: 100px 0 150px;
}

.header_btn {
  width: 150px;
  height: 40px;
  line-height: 240%;
  display       : inline-block;
  border-radius : 5px;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  background    : rgba(255, 255, 255, 0.8);   
  color         : #202020;  
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 3px 2px #666666;  /* 影の設定 */
}

.right_header {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user_name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.content {
  background-image: url(https://www.arban-mag.com/wp-content/uploads/2018/05/180518_ParkHyattTokyo_01.jpg);
  background-size: cover;
}

.pre_content {
  background-image: url(https://cdn.pixabay.com/photo/2016/10/04/05/21/bar-1713610_1280.jpg);
  background-size: cover;
}

.top {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  font-weight: bold;
}

.nickname, .area, .people_num {
  padding: 0;
}

.user_info_text {
  font-size: 15px;
  padding: 0;
}

.mypage {
  padding: 50px 40px;
}

.notifications {
  margin-top: 50px;
  text-align: center;
  font-size: 80px;
  font-family: 'Savoye LET',sans-serif;
}

.my {
  width: 30%;
  text-align: center;
  background-color:rgba(255,255,255,0.7);
  border-radius: 10px;
  padding: 30px 20px;
  margin-left: 100px;
}

.mypage_btn {
  width: 150px;
  height: 40px;
  line-height: 240%;
  display       : inline-block;
  border-radius : 5px;          
  font-size     : 12pt;      
  text-align    : center;      
  cursor        : pointer;    
  background    : rgba(255,255,255,0.8);   
  color         : #202020;  
  opacity       : 0.9;     
  transition    : .3s;      
  box-shadow    : 3px 3px 2px #666666; 
}

.pre_user_infos {
  text-align: center;
  margin-bottom: 50px;
}

.explain_flex {
  display: flex;
  justify-content: center;
  text-align: center;
}

.explain_flex p{
  margin-top: 30px;
  width: 35%;
  font-size: 15px;
  border: 1px solid #806000;
  color: #806000;
  padding: 20px 30px;
  border-radius: 4px;
  height: 25%;
}

.caution {
  text-align: center;
  font-size: 15px;
  color: #806000;
}

.time {
  text-align: center;
  font-size: 17px;
}

.brbr {
  display: none;
}

.br320 {
  display: none;
}

.br375 {
  display: none;
}


/* new, edit */
.user_info_contents {
  height: 100vh;
  width: 100vw;
  background-image: url(https://kinarino.k-img.com/system/press_eye_catches/000/024/594/7c86a38b95b9d63c4341510a81e93c3416081362.jpg?1469499195);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_info_main {
  background-color:rgba(255,255,255,0.8);
  border-radius: 10px;
  padding: 30px 70px;
}

.indispensable {
  color: red;
  background-color: rgba(255,255,255,0.7);
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid red;
}

.user_field {
  margin: 30px 0;
}

.weight-bold-text {
  font-weight: bold;
}

.user_text {
  font-size: 14px;
  width: 100%;
}

.select-box {
  height: 30px;
}
/* new, edit */

/* user管理 */
#error_explanation h2 {
  font-size: 15px;
  font-weight: normal;
}

.registration, .session, .forgot {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.registration {
  background-image: url(https://mensdrip.com/wp-content/uploads/2015/06/2557bf76ae78dd4062826d8f6a26c993.jpg);
}

.session {
  background-image: url(https://mensdrip.com/wp-content/uploads/2015/06/18111fdb4db18a478e972af164604cd5.jpg);
}

.forgot {
  background-image: url(https://cdn.pixabay.com/photo/2017/04/29/20/59/pub-2271551_1280.jpg);
}

.registration_user, .session_user, .forgot_user {
  padding: 30px 40px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
}

.welcome {
  padding: 20px 30px;
  font-weight: bolder;
  color: #ffffff;
}

.big_welcome {
  font-size: 40px;
}

.small_welcome {
  font-size: 15px;
}

.field {
  margin: 15px 0;
}

.btn {
  display       : inline-block;
  border-radius : 5px;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 10px;   /* 余白       */
  background    : #b33e5c;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  opacity       : 0.9;         /* 透明度     */
  transition    : 0.3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 1px #666666;  /* 影の設定 */
}

.devise_user {
  margin: 5px 0;
}
/* user管理 */

/* ↓false↓ */
.false {
  height: 100vh;
  width: 100vw;
  background-image: url(https://cdn.pixabay.com/photo/2016/03/09/09/42/buildings-1245953_1280.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.false_sign {
  padding: 30px 40px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
}

.false_sign {
  font-weight: bold;
}
/* ↑false↑ */

/* ↓search↓ */
.search_top {
  text-align: center;
}
/* ↑search↑ */

.nav {
  display:none;
}



@media (max-width: 500px) {
  .title { 
    font-size: 30px;
    padding: 20px 0 0 30px;
  }
  .nav {
    display: block;
    display: flex;
    justify-content: space-between;
  }

  .border {
    display:none;
  }

  #nav-drawer {
    position: relative;
    padding: 30px 30px 0 0;
  }

  .nav-unshown {
    display:none;
  }

  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  
  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 2px;/*線の太さ*/
    width: 30px;/*長さ*/
    border-radius: 2px;
    background: white;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    background: rgba(64,64,64,0.8);/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/    
  }
  
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,0.15);
  }

  .header_btn {
    display       : block;
    border-radius : none;          /* 角丸       */
    font-size     : 12pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 10px;   /* 余白       */
    background    : none;   
    color         : #fff;  
    opacity       : 0.9;         /* 透明度     */
    transition    : 0;         /* なめらか変化 */
    box-shadow    : none;  /* 影の設定 */
  }

  .right_header {
    text-align: center;
    width: 200px;
    display: block;
    justify-content: normal;
    align-items: normal;
    padding: 65px 0;
  }

  .user_name {
    padding-bottom: 30px;
    font-size: 20px;
  }

  .logout, .new_user_info, .signin, .login {
    padding-top: 20px;
  }

  .left p {
    display: none;
  }
  /* ↑↑ヘッダー *//* ↑↑ヘッダー *//* ↑↑ヘッダー *//* ↑↑ヘッダー */

  .top_main {
    width: 100%;
    padding: 30px;
    justify-content: center;
  }

  .left {
    width: 0;
  }

  .right {
    width: 80%;
  }

  .notifications {
    margin-top: 40px;
    font-size: 40px;
  }

  .sex {
    font-size: 20px;
  }

  .taiki {
    font-size: 15px;
  }


  .how_to_use {
    margin: 50px 0 80px 0;
  }
  .exp {
    margin: 30px auto 0 auto;
    width: 70%;
    font-size: 15px;
    border: 1px solid #806000;
    color: #806000;
    padding: 20px 30px;
    border-radius: 4px;
    height: 25%;
  }

  .asap {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    color: #806000;
  }

  .br {
    display: inline;
  }
  
  .explain {
    margin-top: 10px;
    width: 90%;
  }

  .user_img {
    height: 150px;
    width: 220px;
  }

  .top_page {
    padding: 10px 0;
  }

  .top {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bold;
  }
  
  .down {
    font-size: 12px;
    font-weight: bold;
  }

  .user_info_text {
    font-size: 12px;
    padding: 0;
    text-align: center;
  }

  .list {
    margin-bottom: 50px;
  }

  .search_top {
    margin-top: 0px;
  }

  .gold {
    margin-top: 0;
    width: 70%;
    border-bottom: 2px solid #806000;
    font-size: 20px;
    color: #806000;
  }

  .explain_flex {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .explain_flex p{
    margin-top: 30px;
    width: 80%;
    font-size: 15px;
    border: 1px solid #806000;
    color: #806000;
    padding: 20px 30px;
    border-radius: 4px;
    height: 25%;
  }

  .time {
    font-size: 14px;
  }

  .brbr {
    display: none;
  }

  .br320 {
    display: none;
  }

  .br375 {
    display: none;
  }
  

  /* ↓user管理↓ *//* ↓user管理↓ *//* ↓user管理↓ */
  .welcome {
    padding: 15px 20px;
    font-weight: bolder;
    color: #ffffff;
  }

  .big_welcome {
    font-size: 25px;
  }
  
  .small_welcome {
    font-size: 12px;
  }
  .registration, .session {
    background-image: none;
    background-color: #a0a0a0;
    display: block;
    height: 100%;
  }

  .registration {
    padding-bottom: 100px;
  }

  .session { 
    padding-bottom: 220px;
  }

  
  .forgot {
    background-image: none;
    background-color: #a0a0a0;
  }

  .registration_user, .session_user, .forgot_user {
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }
  /* ↑user管理↑ *//* ↑user管理↑ *//* ↑user管理↑ */

  /* ↓フォローボタン ↓ *//* ↓フォローボタン ↓ *//* ↓フォローボタン ↓ */
  .follow_btn, .followed_btn {
    top: auto;
    bottom: 0;
  }
  /* ↑フォローボタン↑ *//* ↑フォローボタン↑ *//* ↑フォローボタン↑ */

  /* ↓マイページ↓ *//* ↓マイページ↓ *//* ↓マイページ↓ */
  .mypage {
    padding: 30px 40px;
    display: flex;
    justify-content: center;
  }
  
  .my {
    width: 80%;
    margin-left: 0;
  }

  .ul_top {
    font-size: 15px;
    font-weight: bold;
  }

  .pre_user_infos {
    padding: 20px 0;
  }
  /* ↑マイページ↑ *//* ↑マイページ↑ *//* ↑マイページ↑ */

}

@media (max-width: 370px) {
  .br375 {
    display: block;
  }
}

@media (max-width: 360px) {
  .registration_user, .session_user, .forgot_user {
    height: auto;
    padding: 20px 20px;
  }

  .devise_h2 {
    padding: 0;
  }

  .btn {
    padding       : 3px 6px;   /* 余白       */
    background    : #b33e5c;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    opacity       : 0.9;         /* 透明度     */
    transition    : 0.3s;         /* なめらか変化 */
    box-shadow    : 2px 2px 1px #666666;  /* 影の設定 */
  }

  .none {
    display: none;
  }

  .brbr {
    display: inline;
    font-size: 18px;
  }

  .search_btn {
    padding       : 10px 21px;   /* 余白       */
  }

  .br320 {
    display: block;
  }

  .br375 {
    display: none;
  }
}

@media (max-height: 570px) {
  .field {
    margin: 7px 0;
    font-size: 10px;
  }
}